@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   /* only for name */
    /* font-family: 'Niconne', cursive; */
}
:root{
    --dark-grey:#525E65;
    --main-theme:#73CCA8;
    --blue-grey:#2E3445;
    --light-text:#ecf7e7;
    --font-josfin:'Josefin Sans', sans-serif;
    --font-titilium: 'Titillium Web', sans-serif;

}
body{
    
    font-family: var(--font-titilium);
    color:var(--light-text);
    background-color: #2A2A2C;
}
#header{
    background-color: var(--dark-grey);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.navbar{
    margin: 0px;
    padding: 0px;
    height: 54px
}
.navbar ul{
    margin: 0px;
    list-style-type: none;

}

.navbar ul li{
    display: inline-block;
    
    border-bottom: 6px solid var(--dark-grey);
    
}

.navbar ul li a:hover{
   text-decoration: none;
    color: var(--main-theme);
    padding: 10px 20px;
    border-bottom: 6px solid var(--main-theme);
    

    
    
}
.navbar ul li a{
   font-family: var(--font-titilium);
   color: var(--light-text);
   font-size: 1.2rem;
   padding: 10px 20px;
    
}


.navbar ul li a.actived {
    color: var(--main-theme);
    border-bottom: 6px solid var(--main-theme);
    padding: 10px 20px;
       
    
}
/* ....................................... */

.video-section{
    width: 100%;
    height: 729px;
    overflow: hidden;
    position: relative;
    background-color: black;

}
.vid{
    width: 100%;
    height: 100%;
}


.video-section:before{
    content: '';
    display: block;
     width: 100%;
    height: 100%;
    background-color: var(--blue-grey);
    border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
    border:2px solid  var(--main-theme);
    position: absolute;
    top:-65%;
    left: 0;
    z-index:1;   
    transform: scaleX(1.7);    
}
.video-overlay{
    background-color: rgba(56, 56, 58, 0.753);
    z-index: 999;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.my-name{

 
    font-size: 5rem;
    margin-top: 30px;
    font-family: 'Niconne', cursive;
    color: var(--light-text);
    letter-spacing: 10px;


}
.Imagination
{
    font-size: 1rem;
    font-family: var(--font-titilium);
    color: var(--light-text);
    letter-spacing: 5px;
}
.myimage{
    width: 200px;
    height: 200px;    
    margin: 60px auto 0px auto;    
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);

}
.myimage img{
    height: 100%;
    width: 100%;
}
.myimage .over:hover{

    display: none;
}
.myimage .over{

     content: '';
    display: block;
      width: 100%;
    height: 100%;
    background-color: rgba(41, 33, 33, 0.493);    
    position: absolute;
    top:0;
    left: 0;
   

}
.myinfo{

    width: 60%;   
    margin: auto;
}

.name{
    color: var(--main-theme);
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: 'Niconne', cursive; ;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a

{
    margin: 0px 3px;
    text-decoration: none;
    color:var(--main-theme);
    font-size: 1.5rem;  
} 
.intro{
    background-color:#2A2A2C;
    width: 90%;
   margin: 0px auto 0px auto;

}
/* skills section */
.skills .skillsheader::after
{
    content: '';
    display:block;
    width: 100px;
    height: 3px;
    background-color: var(--main-theme);
    margin: 20px auto;
    color: var(--light-text);
}
.skills-left{
   
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
   

}
.skills-right
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.skills-left img
{
    margin: 5px;
  height: 60px;
  width: 60px;
}
.get-in-touch a{
    padding: 10px 20px;
  border:2px dotted var(--main-theme);
   
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-weight: bold;   
    letter-spacing: 2px;
      box-shadow: rgba(45, 75, 72, 0.25) 0px 30px 60px -12px inset, rgba(31, 117, 133, 0.3) 0px 18px 36px -18px inset;

}
.image-container img {
    height: 70%;
    width:70%;    
}


/* project section */

.project-head .projectheader::after
{
    content: '';
    display:block;
    width: 100px;
    height: 3px;
    background-color: var(--main-theme);
    margin: 20px auto;
    color: var(--light-text);
}
.projects-container
{
    border-radius: 3px;
      box-shadow: rgba(45, 75, 72, 0.25) 0px 30px 60px -12px inset, rgba(31, 117, 133, 0.3) 0px 18px 36px -18px inset;
}
.project-description h4{
    color: var(--main-theme);
    font-weight: 800;
}
.project-description small{
    color:var(--light-text);
}
.project-image
{
  width: 100%;
  height: 200px;
  border-radius: 3px;

}
.project-image img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.project-tools img
{
    height: 35px;
    width: 35px;
    color: var(--main-theme);
  
    padding: 3px;
    
  
}

hr{
    background-color: rgba(6, 100, 91, 0.25);
}
.project-tools strong{
    text-decoration: underline;
    text-decoration-color: var(--main-theme);
    text-decoration-thickness: 3px;
}

.links i{
    margin-right:5px  ;
    font-size: 1.5rem;
    padding: 5px;
    color:white;
    border: 2px solid #2A2A2C

}
.links i:hover{
    margin-right:5px  ;
    font-size: 1.5rem;
    padding: 5px;
    color: var(--main-theme);
    border: 2px dotted var(--main-theme);

}
/* contact section */
.contact-us
{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-image
{
    width: 430px;
    height: 300px;
     display: flex;
    justify-content: center;
    align-items: center;
}


.contact-image img{
    width: 100%;
    height: 100%;
}
.form-items>h2{
    font-size: 1.7rem;
    color:var(--light-text);

    
}
.form-items span{
    color: var(--main-theme);
    font-size: 2rem ;
    font-weight: bold;
    text-decoration: underline;
text-decoration-color: var(--blue-grey);
}
.myform{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.contact-form .email
{
    color:rgb(173, 167, 167);
    font-size: 1.3rem;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    background-color: transparent;
    outline: none;
}
.contact-form .btn-submit{
    padding: 2px 6px;
    font-size: 1.5rem;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    color: var(--main-theme);
    border: 2px dotted var(--main-theme);
}
.contact-form{
   
    width: 85%;
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.contact-social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.s-icons{
    display: flex;
    width: 60%;    
   
}
.s-icons a

{
    margin: 0px 5px;
    text-decoration: none;
    color:var(--main-theme);
    font-size: 2rem;  
}

/* footer section */
.main-foot{
    width: 100%;  
   
    background-color:#525E65;
    border-top:1px solid var(--main-theme);

   
}
.top{
  
    float: right;
    color:white;
 
    position: fixed;
    bottom: 35px;
    right: 25px;
    z-index: 1000;
    font-size: 2.5rem;
}
.top:hover
{
    color: var(--main-theme);
    
}
.google-info{
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.google-info img{
    width:25px;
    height: 20px;
    margin-right: 5px;

}























/* >>>>>>>> screen 770px >>>>>>>>>> */

@media screen and (max-width:767px) {


    .my-name{ 
    font-size: 3.2rem;
    margin-top: 30px;
   
    letter-spacing: 8px;
}
    .Imagination
{
    font-size: 0.9rem;
 
    letter-spacing: 2px;
}
.video-section:before{
   
    
    top:-70%;
    left: 0;
    z-index:1;   
    transform: scaleX(1.7);   
}
.myimage{
    width: 200px;
    height: 200px;    
    margin: 60px auto 5px auto;    

}
.myinfo{

    width: 60%;   
    margin: auto;
}
.myform{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-items h2{
    text-align: center;
}
.projectheader{
    font-size: 2rem;
}

}

/* >>>>>>>>>>>> 540px >>>>>>>>>>>>>>>>>>> */
@media screen and (max-width:540px) {
    .my-name{ 
    font-size: 2.6rem;
    margin-top: 35px;
    letter-spacing: 8px;
}
    
.video-section:before{
   top:-75;     
    transform: scaleX(1.7);   
}
.myimage{       
    margin: 65px auto 5px auto; 
}
.myinfo{
    width: 60%;   
    margin: auto;
   
} 

}


@media screen and (max-width:532px) {
    .my-name{ 
    font-size: 2.6rem;
    margin-top: 55px;
    letter-spacing: 8px;
}
    
.video-section:before{
   top:-70;     
    transform: scaleX(1.7);   
}
.myimage{       
    margin: 70px auto 5px auto; 
}
.myinfo{
    width: 60%;   
    margin: auto;
} 

}
@media screen and (max-width:522px) {
    .my-name{ 
    font-size: 2rem;
    margin-top: 85px;
    letter-spacing: 8px;
}
    
.video-section:before{
    content: '';
    display: block;
     width: 100%;
    height: 100%;
    background-color: var(--blue-grey);
    border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
    border:2px solid  var(--main-theme);
    position: absolute;
    top:-72%;
    left: 0;
    z-index:1;   
    transform: scaleX(1.7);     
}
.myimage{       
    margin: 70px auto 5px auto; 
}
.myinfo{
    width: 60%;   
    margin: auto;
} 
.navbar ul li a{
   font-family: var(--font-titilium);
   color: var(--light-text);
   font-size: 1rem;
   padding: 10px 10px;
    
}
.navbar{
    margin: 0px;
    padding: 0px;
    height: 51px;;
}

}


@media screen and (max-width:470px) {
    .my-name{ 
    font-size: 2rem;
    margin-top: 45px;
    letter-spacing: 8px;
}
    
.video-section:before{
    content: '';
    display: block;
     width: 100%;
    height: 100%;
    background-color: var(--blue-grey);
    border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
    border:2px solid  var(--main-theme);
    position: absolute;
    top:-73%;
    left: 0;
    z-index:1;   
    transform: scaleX(1.8);     
}
.myimage{       
    margin: 70px auto 5px auto; 
}
.myinfo{
    width: 60%;   
    margin: auto;
     font-size: 0.8rem;
    
} 
.contact-image
{
    width: 250px;
    height: 170px;
     display: flex;
    justify-content: center;
    align-items: center;
    padding: auto 0px;
}

}



@media screen and (max-width:430px) {
    .my-name{ 
    font-size: 2rem;
     margin-top: 45px;
    letter-spacing: 8px;
}
    
.video-section:before{
    content: '';
    display: block;
     width: 100%;
    height: 100%;
    background-color: var(--blue-grey);
    border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
    border:2px solid  var(--main-theme);
    position: absolute;
    top:-73%;
    left: 0;
    z-index:1;   
    transform: scaleX(1.8);     
}
.myimage{       
    margin: 70px auto 5px auto; 
}
.myinfo{
    width: 60%;   
    margin: auto;
} 

.navbar ul li a{
   font-family: var(--font-titilium);
   color: var(--light-text);
   font-size: 0.8rem;
   padding: 10px 5px;
    
}
.navbar{
    margin: 0px;
    padding: 0px;
    height: 49px;
}

}


@media screen and (max-width:375px) {
    .my-name{ 
    font-size: 1.9rem;
  margin-top: 45px;
    letter-spacing: 6px;
}
.Imagination{
    letter-spacing: 0px;
}
    
.video-section:before{
    content: '';
    display: block;
     width: 100%;
    height: 100%;
    background-color: var(--blue-grey);
    border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
    border:2px solid  var(--main-theme);
    position: absolute;
    top:-75%;
    left: 0;
    z-index:1;   
    transform: scaleX(2);     
}
.myimage{       
    margin: 55px auto 5px auto; 
}
.myinfo{
    width: 60%;   
    margin: auto;
} 

}

@media screen and (max-width:337px) {
    .my-name{ 
    font-size: 1.9rem;
     margin-top: 50px;
    letter-spacing: 6px;
}
.Imagination{
    letter-spacing: 0px;
}
    
.video-section:before{
    content: '';
    display: block;
     width: 100%;
    height: 100%;
    background-color: var(--blue-grey);
    border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
    border:2px solid  var(--main-theme);
    position: absolute;
    top:-75%;
    left: 0;
    z-index:1;   
    transform: scaleX(2.2);     
}
.myimage{       
    margin: 55px auto 5px auto; 
}
.myinfo{
    width: 60%;   
    margin: auto;
} 

}



@media screen and (max-width:322px) {
    .my-name{ 
    font-size: 1.6rem;
    margin-top: 55px;
    letter-spacing: 6px;
}
.Imagination{
    letter-spacing: 0px;
}
    
.video-section:before{
    content: '';
    display: block;
     width: 100%;
    height: 100%;
    background-color: var(--blue-grey);
    border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
    border:2px solid  var(--main-theme);
    position: absolute;
    top:-75%;
    left: 0;
    z-index:1;   
    transform: scaleX(2.2);     
}
.myimage{       
    margin: 55px auto 5px auto; 
}
.myinfo{
    width: 60%;   
    margin: auto;
} 

}

    

